PAYSTACK_SECRET_KEY=
SUPABASE_PROJECT_ID=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
VTPASS_API_KEY=
VTPASS_BASE_URL=
VTPASS_MODE=
VTPASS_PUBLIC_KEY=
VTPASS_SECRET_KEY=